<style type="text/css">
	
	.bp,.pp{
		text-align: center;
		margin-top:10px;
		border: 2px gray dotted;
		padding:20px;
	}
	.banker{
		padding: 40px 20px;
		font-size: 4em;
		border: 2px gray dotted;
		text-align: center;
	}
	.he{
		font-size: 4em;
		margin-top:10px;
		border: 2px gray dotted;
		padding: 40px 20px;
		text-align: center;
	}
	.won{
		color: white;
	}
	.banker.won{
		background-color: red;
	}
	.player.won{
		background-color: blue;
	}
	.he.won{
		background-color: green;
	}
	.player{
		text-align: center;
		padding: 40px 20px;
		font-size: 4em;
		border: 2px gray dotted;
	}
	.bp.yeah{
		color:white;
		background-color: red;
	}
	.pp.yeah{
		color:white;
		background-color: blue;
	}
	.subm{
		margin-top: 100px;float:right;
	}
</style>
<div class="row">
<p>提交baccarat结果.</p>
<p>当前DeskID.</p>
<p>当前限红.</p>
<p>当前suffleID.</p>
<p>当前serial.</p>
	<button type="button" class="btn btn-lg btn-primary" ng-click="addShuffle()">洗牌</button>
	<button type="button" class="btn btn-lg btn-primary" ng-click="addShuffle()">添加桌子</button>
	<button type="button" class="btn btn-lg btn-primary" ng-click="addShuffle()">添加限红</button>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 he" ng-class="{'won':won=='tie'}" ng-click="won='tie'">和</div>
	</div>
	<div class="row">
		
	
	<div class="col-sm-6 banker" ng-class="{'won':won=='banker'}" ng-click="won='banker'">庄赢</div>
	<div class="col-sm-6 player" ng-class="{'won':won=='player'}" ng-click="won='player'">闲赢</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-3 bp" ng-class="{'yeah':bp}" ng-click="bp=!bp">庄对</div>
		<div class="col-sm-3 col-sm-offset-3 pp" ng-class="{'yeah':pp}" ng-click="pp=!pp">闲对</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-9">
			 <button type="submit" class="btn btn-lg btn-primary subm" ng-click="submit()">提交</button>
		</div>
	</div>
</div>