<style type="text/css">
.zhuzi{
  color: white;
  border-radius: 50%;
}
.zhuzi.zhuang{
  background-color: red;
}
.zhuzi.xian{
  background-color: blue;
}
.zhuzi.he{
  background-color: green;
}
.dalu.blue{  border:3px blue solid;
  border-radius: 50%

}
.dalu.red{  border:3px red solid;
  border-radius: 50%

}
.dayan.blue{  border:1px blue solid;
  border-radius: 50%

}
.dayan.red{  border:1px red solid;
  border-radius: 50%

}
.xiaoqiang.red{
  color:red;
  border-bottom: 3px red solid;
}
.xiaoqiang.blue{
  color:blue;
  border-bottom: 3px blue solid;
}
</style>
<style type="text/css">
  
  .fapaiqi .bp,.pp{
    text-align: center;
    margin-top:10px;
    border: 2px gray dotted;
    padding:20px;
  }
  .fapaiqi .banker{
    padding: 40px 20px;
    font-size: 4em;
    border: 2px gray dotted;
    text-align: center;
  }
  .fapaiqi .he{
    font-size: 4em;
    margin-top:10px;
    border: 2px gray dotted;
    padding: 40px 20px;
    text-align: center;
  }
  .fapaiqi .won{
    color: white;
  }
  .fapaiqi .banker.won{
    background-color: red;
  }
  .fapaiqi .player.won{
    background-color: blue;
  }
 .fapaiqi  .he.won{
    background-color: green;
  }
 .fapaiqi  .player{
    text-align: center;
    padding: 40px 20px;
    font-size: 4em;
    border: 2px gray dotted;
  }
  .fapaiqi .bp.yeah{
    color:white;
    background-color: red;
  }
  .fapaiqi .pp.yeah{
    color:white;
    background-color: blue;
  }
  .fapaiqi .subm{
    margin-top: 100px;float:right;
  }
</style>
<div class="fapaiqi">
<div class="row">
 <button type="button" class="btn btn-lg btn-primary" ng-click="addShuffle()">洗牌</button>
  <!-- <button type="button" class="btn btn-lg btn-primary" ng-click="addDesk()">添加桌子</button>
  <button type="button" class="btn btn-lg btn-primary" ng-click="">添加限红</button> -->
<p>{{data.name}}当前桌号.{{deskId}}</p>
<p>当前限红.{{data.limit}}</p>
<p>当前suffleID.{{data.currentShuffle.id}}</p>
<p>当前serial.{{currentSerial}}</p>
 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 he" ng-class="{'won':won=='tie'}" ng-click="won='tie'">和</div>
  </div>
  <div class="row">
    
  
  <div class="col-sm-6 banker" ng-class="{'won':won=='banker'}" ng-click="won='banker'">庄赢</div>
  <div class="col-sm-6 player" ng-class="{'won':won=='player'}" ng-click="won='player'">闲赢</div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-3 bp" ng-class="{'yeah':bp}" ng-click="bp=!bp">庄对</div>
    <div class="col-sm-3 col-sm-offset-3 pp" ng-class="{'yeah':pp}" ng-click="pp=!pp">闲对</div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-9">
       <button type="submit" class="btn btn-lg btn-primary subm" ng-click="submit()">提交</button>
    </div>
  </div>
</div>
</div>
<div class="header">
        <ul class="nav nav-pills pull-right">

          <li ><input type="checkbox" ng-model="bp" />庄对</li>
          <li ><input type="checkbox" ng-model="pp" />闲对</li>

          <li ><button ng-click="add(0,bp,pp)">庄</button></li>
          <li ><button ng-click="add(1,bp,pp)">闲</button></li>
          <li ><button ng-click="add(2,bp,pp)">和</button></li>
        </ul>
        <h3 class="text-muted">ludan</h3>
      </div>
<div class="container">
  <!-- <div class="row">珠盘路</div> -->
    <div style=" border:gray 1px solid;float:left;" ng-repeat="row in zhupan">
      <div style="width:30px;height:30px;" class="zhuzi" ng-class="{'zhuang':perl.v==0,xian:perl.v==1,he:perl.v==2}" ng-repeat="perl in row">
         {{(perl.bp?"`":"")+(perl.v==0?"庄":((perl.v==1)?"闲":(perl.v==2?"和":"")))+(perl.pp?".":"")}}
      </div>
    </div>
</div>

<div class="container">
  <!-- <div class="row">大路</div> -->
    <div style=" border:gray 1px solid;float:left;" ng-repeat="row in daluTable">
      <div style="width:15px;height:15px;color:green" class="dalu" ng-class="{'red':perl.perl.v==0,blue:perl.perl.v==1}" ng-repeat="perl in row">
         {{perl.perl.he==0?"":perl.perl.he}}
      </div>
    </div>
</div>

<div class="container">
  <!-- <div class="row">大眼路</div> -->
    <div style=" border:gray 1px solid;float:left;" ng-repeat="row in dayanTable">
      <div style="width:7px;height:7px;" class="dayan" ng-class="{'red':perl.perl.v=='red',blue:perl.perl.v=='blue'}" ng-repeat="perl in row">
         {{O}}
      </div>
    </div>
</div>
<div class="container">
  <!-- <div class="row">小路</div> -->
    <div style=" border:gray 1px solid;float:left;" ng-repeat="row in xiaoTable">
      <div style="width:7px;height:7px;" class="zhuzi" ng-class="{'zhuang':perl.perl.v=='red',xian:perl.perl.v=='blue'}" ng-repeat="perl in row">
         {{O}}
      </div>
    </div>
    <!-- <div style="border-right:3px;">蟑螂</div> -->
    <div style=" border:gray 1px solid;float:left;" ng-repeat="row in zhangTable">
      <div style="width:7px;height:7px;" class="xiaoqiang" ng-class="{'red':perl.perl.v=='red',blue:perl.perl.v=='blue'}" ng-repeat="perl in row">
         {{perl.perl.v?"":""}}
      </div>
    </div>
</div>
<div class="container">
  
</div>

